<div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="newModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= render partial: "posts/modal_form", locals: { post: Post.new } %>
    </div>
  </div>
</div>